<div class='center-block text-center' id="login-form">
  <h1 class="page-header">
    Log in to your account
  </h1>

  <% if @errors %>
    <%= render partial: "shared/errors" %>
  <% end %>

  <%= render partial: "form" %>
  <br/>
  <div class='jumbotron'>
    <p>Sample this app with these credentials:</p>
    <p>sample@sample.sample</p>
    <p>password123</p>
  </div>
</div>
