<div class='center-block text-center' id="job-form">
  <h1 class="page-header">
    Edit <%= @job.title %>
  </h1>

  <% if @errors %>
    <%= render partial: "shared/errors" %>
  <% end %>

  <%= render partial: "form" %>
</div>