<div class="container" id="job-index">
  <h1 class="page-header">
  All Jobs for <strong><%= @company.name %></strong>
  </h1>

  <ul class="list-group">
    <% @jobs.each do |job| %>
      <li class="list-group-item">
        <%= link_to job.title, company_job_path(@company, job) %>
      </li>
    <% end %>
  </ul>
  <div class="container button-duo">
    <%= link_to "Back to All Companies",
                companies_path,
                class: "btn btn-primary col-md-2" %>
    <%= link_to "Add New Job",
                new_company_job_path(@company),
                class: "btn btn-success col-md-2" %>
  </div>
</div>