<div class='container-fluid center-block' >
  <h1>
    Jobs in <%= @city %>
  </h1>
  <ul class='list-group center-block'>
    <% jobs_in_city(@city).each do |job| %>
      <li class="list-group-item col-md-4"><%= link_to job.title, company_job_path(job.company, job) %></li>
    <% end %>
  </ul>
</div>