<% @title = "JTrack | Add a Job @ #{@company.name}"%>

<div class='container form'>
  <h1 class="page-header">
  Create a new job at <%= @company.name %> here!
  </h1>

  <% if @errors %>
    <%= render partial: "shared/errors" %>
  <% end %>

  <%= render partial: "form" %>
</div>
