<div class="container-fluid" >
  <%= form_for @company do |f| %>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">
        <%= f.label :name %>
      </span>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>