#colorssss {
  background-color: rgba(219, 158, 54, 1);
  background-color: rgba(189, 73, 50, 1);
  background-color: rgb(255, 250, 213);
  background-color: rgba(16, 91, 99, 1);
}

body {
  font-family: "Quicksand", sans-serif;
  color: rgba(16, 91, 99, 1);
  background-color: rgba(219, 158, 54, .2);
  padding-top: 70px;
}

.container {
  margin: 10px auto;
}

.navbar {
  background-color: rgba(16, 91, 99, .6);
}

.index {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.navbar-default .navbar-brand {
  color: rgb(255, 250, 213);
  font-size: 40px;
}

.navbar-right .dropdown .dropdown-toggle {
  font-size: 20px;
  color: rgb(255, 250, 213);
}

.list-group {
  font-size: 24px;
}

li a {
  color: rgba(16, 91, 99, 1);
}

.btn .col-md-2 {
  padding: 10px;
  margin: 5px;
}

.single-button {
  margin: 0 auto;
  width: 25%
}

#job-index {
  width: 700px;
  text-align: center;
}

.comment-list {
  width: 70%;
  margin: 0 auto;
}

.list-group-item {
  background-color: rgba(189, 73, 50, .3);
  margin-top: 20px;
}

.header-background {
  background-color: rgba(189, 73, 50, .30);
  border-radius: 5px;
  color: inherit;
}

.form {
  width: 1000px;
  margin-left: 260px;
}

.button-trio {
  text-align: center;
  margin-left: 100px;
}

.button-duo {
  margin-left: 125px;
}

.btn {
  margin: 5px;
}

.col-md-3 {
  margin: 0 10px;
}

.input-group {
  width: 500px;
}

.input-group-addon {
  text-align: right;
  width: 150px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */