#colorssss {
  background-color: rgba(219, 158, 54, 1);
  background-color: rgba(189, 73, 50, 1);
  background-color: rgb(255, 250, 213);
  background-color: rgba(16, 91, 99, 1);
}

body {
  font-family: "Quicksand", sans-serif;
  color: rgba(16, 91, 99, 1);
  background: rgba(219, 158, 54, .2);
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(219, 158, 54, .2), rgba(16, 91, 99, .25));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(219, 158, 54, .2), rgba(16, 91, 99, .25));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(219, 158, 54, .2), rgba(16, 91, 99, .25));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(219, 158, 54, .2), rgba(16, 91, 99, .25));
  padding-top: 50px;
}

.container {
  margin: 10px auto;
}

.navbar {
  background-color: rgba(16, 91, 99, .9);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: rgb(255, 250, 213);
}

.dropdown-toggle {
  text-align: center;
}

.index {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.navbar-default .navbar-brand {
  color: rgb(255, 250, 213);
  font-size: 40px;
}

.navbar-right .dropdown .dropdown-toggle {
  font-size: 20px;
  color: rgb(255, 250, 213);
}

.list-group {
  font-size: 24px;
}

li a {
  color: rgba(16, 91, 99, 1);
}

li a:hover {
  color: rgba(255, 250, 213, .7);
}

#job-index {
  width: 700px;
  text-align: center;
}

#comment-list {
  border: 2px solid rgba(189, 73, 50, .8);
  border-radius: 5px;
  margin-bottom: 30px;
}

.list-group-item {
  background-color: rgba(189, 73, 50, .3);
  margin-top: 20px;
}

.header-background {
  padding: 5px;
  background-color: rgba(219, 158, 54, .6);
  border-radius: 5px;
  color: inherit;
}

#job-form {
  width: 75%;
}

#company-form {
  width: 50%;
}

#category-form {
  width: 50%;
}

.btn {
  margin: 5px;
}

.input-group {
  width: 100%;
}

.input-group-addon {
  text-align: right;
  width: 150px;
}

.table {
  background-color: rgba(255, 250, 213, .7);
  border-radius: 5px;
}


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */