<div class="container" id="job-index">
  <h1 class="page-header">
    All <strong><%= @category.title %></strong> Jobs
  </h1>

  <ul class="list-group">
    <% @jobs.each do |job| %>
      <li class="list-group-item">
        <%= link_to "#{job.title} @ #{job.company.name}", company_job_path(job.company, job) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Back to All Categories",
              categories_path,
              class: "btn btn-primary" %>
</div>